mixin sort()
    div(sort class="row")
        select(
            class="form-control"
            name="sort"
            sort-select
        )   
            option(value="POSITION-ASC" selected) Vị trí tăng dần
            option(value="POSITION-DESC") Vị trí giảm dần
            option(value="PRICE-ASC") Giá tăng dần
            option(value="PRICE-DESC") Giá giảm dần
            option(value="TITLE-ASC") Tiêu đề A - Z
            option(value="TITLE-DESC") Tiêu đề Z - A
        //- button(
        //-     class="btn btn-danger mt-2"
        //-     sort-clear
        //- ) Clear