@use "sass:map";
@import "style/pages/all";

.checkout_input{
    margin-top: 20px;
    input,textarea{
        margin: 10px 0;;
    }
    .required{
        color:red;
    }
}
.checkout_input_group{
    display: flex;
    column-gap: 2%;
    .checkout_input{
        flex: 0 0 50%;
        input{
            width: 96%;
        }
    }
}

.checkout_order{
    background: #eeeeee;
    padding:40px;
    padding-top: 30px;
    margin-left: 40px;
    @include Responsive($TABLET_DEVICES){
        margin-left: 0px;
    }
    @include Responsive($WIDE_MOBILE){
        margin-left: 0px;
    }
    @include Responsive($SMALL_DEVICES){
        margin-left: 0px;
    }
    h3{
        border-bottom:1px solid #eeeeee;
        padding-bottom: 10px;
    }
    ul{
        li{

            list-style: none;
            display: flex;
            justify-content: space-between;
            line-height: 50px;
        }
        .checkout_order_subtotal{
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            margin-bottom: 20px;
            b{
                color: map.get($theme_colors, "description")
            }
        }
    }
    button{
        width: 100%;
    }
}