extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    .login-container
        h1 ADMIN
        p Chào mừng đã quay lại!
        form(action=`${prefixAdmin}/auth/login` method="POST")
            .form-group
                label(for="email") Email
                input(type="email" name="email" id="email" placeholder="Nhập email" required)
            .form-group
                label(for="password") Mật khẩu
                input(type="password" name="password" id="password" placeholder="Nhập mật khẩu" required)
            button.btn(type="submit") Đăng nhập
        .footer
            p &copy; Digital nomad. 
                a(href=`${prefixAdmin}/auth/password/forgot`) Quên mật khẩu?